

*, *:before, *:after {
  margin: 0;
    box-sizing: border-box;
}

.section1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)),url("images/bggrapes.png");
  background-color: #cccccc;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    
}

.section1 .hero-image {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)),url("images/bggrapes.png");
  background-color: #cccccc;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    
}

.section1 .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50% , -40%);
  color: white;

}

.section1 .hero-text h1, h3{
 padding-bottom: 30px;

}


.section1 .hero-text button{
padding: 20px;
}

.section2  {
  background-image: url("images/bellpaper.png");
  
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
        height: 615px;
    object-position: 100% 0%;
    background-position: 60% 0%;
    margin: 46px auto 0 0;
        object-fit: contain;
    background-size: contain;
    
}


.section2 .column {
  float: left;
  width: 33.33%;
  margin-bottom: 16px;
  padding: 0 8px;
   
     
}



.section2 .card {
  background-color: #f5faef;
  margin: 9px;
  opacity: 0.7;  
}

.section2 .about-section {
    padding: 40px;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    color: black;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 150px;
}


.section2 .team-section {
    width: 70%;
    margin: 0 auto;
    
}

 .section2 .container {
  padding: 50px 16px;
     margin: 25px 0;
}

.section2, .container::after, .section2, .row::after {
  content: "";
  clear: both;
  display: table;
}

.section2 .title {
  color: grey;
}

.section2 .button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.section2 .button:hover {
  background-color: #555;
}

@media screen and (max-width: 700px) {
  .section2 .column {
    width: 100%;
    display: block;
  }
}


.section3
{
    padding: 20px;
    max-width: 1300px;
    margin: auto
}

 /* Three columns side by side */
.section3 .column {
  float: left;
  width: 33.33%;
  margin-bottom: 16px;
  padding: 0 8px;
    
}

.section3 .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}



.section3 .about-section {
  padding: 50px;
  text-align: center;
 background-color: #f5faef;
  color: black;
}

.section3 .container {
   
padding: 20px 0px;
    background-color: #f5faef;
    
}

.section3 .container h2 {
padding: 20px 0px;
    background-color: #f5faef;
    
}

.section3 .container p {
padding: 20px 0px;
    background-color: #f5faef;
    
}

.section3, .container::after, .section3, .row::after {
  content: "";
  clear: both;
  display: table;
}

.section3 .title {
  color: grey;
}

.section3 .button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.section3 .button:hover {
  background-color: #555;
}

@media screen and (max-width: 700px) {
  .section3 .column {
    width: 100%;
    display: block;
  }
}
.section4 
{
    max-width: 100%;
}



.section4 .hero-image {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)),url("images/sec4imgbg.png");
  background-color: #cccccc;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    
}

.section4 .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50% , -50%);
  color: white;
    max-width: 600px;

}

.section4 .hero-text h1, h3{
 padding-bottom: 30px;

}


.section4 .hero-text button{
padding: 20px;
    
}


.section5  {
 max-width: 1500px;
    margin: auto;
}

.section5 .column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.section5 .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.section5 .about-section {
  padding: 50px;
  text-align: center;
  background-color: #d7ebc1;
  color: black;
}

.section5 .container {
  padding: 0 16px;
}

.section5 .container::after, .section5 .row::after {
  content: "";
  clear: both;
  display: table;
}

.section5 .title {
  color: grey;
}

.section5 .button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.section5 .button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .section5 .column {
    width: 100%;
    display: block;
  }
}

